#page
  .hero-unit.center.no-border.no-padding-bottom
    .container
      / note the home class on the h1 tag
      %h1 Learn Indian classical singing from the maestros
    / close container
  / close hero-unit

  / begin slider
  .lemmon-wrap.clearfix
    #lemmon-slider.lemmon-slider
      %ul
        - Guru.all.shuffle.each do |guru|
          %li
            %a{:href => "#"}
              / link to article/post/portfolio entry for the entire image
              %img{:alt => "", :src => guru.image.url(:gallery)}
            / end image link
            .summary
              / begin summary
              %a{:href => "#"}
                / begin link to article post or portfolio entry for the caption
              %h3 #{guru.name}
              %p No lessons yet
              / end link to article post or portfolio entry for the caption
            / end summary
    .controls
      %a.prev-page{:href => "#"} Prev Page
      %a.next-page{:href => "#"} Next Page
    / / .controls
  / / end slider
  %p
    The traditional method of learning Indian classical music is by observing and following the Guru. ragafied follows the same method and you get the benefits of learning from the maestros of Indian classical music such as Ustad Bade Ghulam Ali Khan, Pandit Bhimsen Joshi, Ustad Rashid Khan, to name a few.
  %br
  = link_to 'Try ragafied free for 1 month', new_user_registration_path(:plan => 'member'), :class => 'btn btn-large btn-success'
  %p
    Satisfaction guranteed, cancel any time.
