- content_for :head do
  = javascript_include_tag "lesson"

%h3.short_headline
  raga #{@lesson.raga.name} by #{@lesson.guru.name}

#lesson-container

%script
  var lesson = #{@lesson.to_json(:only => [], :methods => [:raga_name, :guru_name, :audio_files, :lesson_composition]).html_safe}
