// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.lessons.show, body.lessons.edit {











  #lesson-container {
    font-family: Impact, Futura-CondensedExtraBold;

    * {
      line-height: 100%;
      text-align: center;
    }
  }

  .raga {
    font-size: 40px;
    color: #688d00;
    text-transform: uppercase;
  }

  .guru, .student {
    font-size: 32px;
    color: #ab0000;
    text-transform: uppercase;
  }

  .phrase-title {
    color: #e3dbde;
    font-size: 22px;
  }

  .phrase-current {
    font-size: 72px;
    color: black;
  }

  .phrase-count {
    font-size: 33px;
    color: #e3dbde;
  }

  .phrase-progress {
    width: 100%;
    height: 2px;
    background: #fcf8e5;
    position: relative;
    font-size: 72px;
    top: 1em;
  }

  .guru-progress, .student-progress, .introduction-progress {
    .progress {
      width: 200px;
      margin: auto;
    }
  }
}